<div class="container-shell mb-10">
  <div class="surface flex flex-wrap items-center justify-center gap-3 p-6">
    {{ if .Site.Params.footer.socialNetworks.github }}<a href="{{ .Site.Params.footer.socialNetworks.github }}" target="_blank" aria-label="github" class="ui-button-secondary !size-12 !p-0"><i class="fab fa-github text-lg"></i></a>{{ end }}
    {{ if .Site.Params.footer.socialNetworks.linkedin }}<a href="{{ .Site.Params.footer.socialNetworks.linkedin }}" target="_blank" aria-label="linkedin" class="ui-button-secondary !size-12 !p-0"><i class="fab fa-linkedin-in text-lg"></i></a>{{ end }}
    {{ if .Site.Params.footer.socialNetworks.twitter }}<a href="{{ .Site.Params.footer.socialNetworks.twitter }}" target="_blank" aria-label="twitter" class="ui-button-secondary !size-12 !p-0"><i class="fab fa-x-twitter text-lg"></i></a>{{ end }}
    {{ if .Site.Params.footer.socialNetworks.instagram }}<a href="{{ .Site.Params.footer.socialNetworks.instagram }}" target="_blank" aria-label="instagram" class="ui-button-secondary !size-12 !p-0"><i class="fab fa-instagram text-lg"></i></a>{{ end }}
    {{ if .Site.Params.footer.socialNetworks.facebook }}<a href="{{ .Site.Params.footer.socialNetworks.facebook }}" target="_blank" aria-label="facebook" class="ui-button-secondary !size-12 !p-0"><i class="fab fa-facebook-f text-lg"></i></a>{{ end }}
  </div>
</div>
